.calculator__form___label{
    
    font-family: var(--font-principal);
    font-weight: 400;
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 0 ) {
    .calculator__form___label{
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px ) {
    .calculator__form___label{
        font-size: 1.5rem;
    }
}