.calculator__form{
    align-items: center;
    display: flex;
}

@media screen and (min-width: 0 ){
    .calculator__form{
        flex-direction: column;
        margin: 0;
    }
}

@media screen and (min-width: 768px){
    .calculator__form{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: .5rem 1rem;
    }
}